body {
    background: url(https://img.redbull.com/images/c_limit,w_1500,h_1000/f_auto,q_auto/redbullcom/2024/11/24/nrqoxx9as35r5ry8ashm/max-verstapen-2024-f1-world-champion-four);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 6px;
    margin: auto;
}
.MAX {
    background-color: rgb(0, 0, 0, 0.7);
    margin: auto;
    border: double 4px red,;
    width: 80%;
    padding: 10px;
}
h1, p {
    color: red;
    text-align: center;
}
.MAX {
    margin: auto;
    justify-content: center;
    align-items: center;
}

video {
    max-width: 100%;
}
h2 {
    font-family: fantasy;
    color: aqua;
    text-align: center;
}